header {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: var(--header-height);
  background: #ea0f0f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 1000;
  border-bottom: 1px solid #ea0f0f(16, 203, 32, 0.74);
}

header .logo {
  height: 36px;
  object-fit: contain;
}

.menu-icon {
  width: 30px;
  height: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-icon span {
  background: #fff;
  height: 3px;
  border-radius: 2px;
}
